In [1]:
import pandas as pd
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551', header=0)
df = data[0] 
df.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

In [3]:
df.rename(columns={'TITLE': 'TYTUŁ', 'ARTIST': 'ARTYSTA', 'YEAR': 'ROK', 'HIGH POSN': 'MAX POZ'}, inplace=True)
df.head()

   POS                                 TYTUŁ  ARTYSTA   ROK  MAX POZ
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

In [5]:
liczba_artystow = df['ARTYSTA'].nunique()
print("Liczba unikalnych artystów:", liczba_artystow)

Liczba unikalnych artystów: 47

Odp2. Liczba unikalnych artystów to 47

In [7]:
czestosc_zespolow = df['ARTYSTA'].value_counts()
czesto_wystepujace_zespoly = czestosc_zespolow[czestosc_zespolow > 1]
print("Zespoły pojawiające się najczęściej na liście:")
print(czesto_wystepujace_zespoly)

Zespoły pojawiające się najczęściej na liście:
ARTYSTA
COLDPLAY               3
TAKE THAT              3
FLEETWOOD MAC          2
ABBA                   2
DIDO                   2
ORIGINAL SOUNDTRACK    2
QUEEN                  2
ROBBIE WILLIAMS        2
BEATLES                2
MICHAEL JACKSON        2
ADELE                  2
Name: count, dtype: int64

Odp3. Najczęściej pojawiający się na liście :COLDPLAY i TAKE THAT

In [9]:
df.columns = df.columns.str.title()
df.head()

   Pos                                 Tytuł  Artysta   Rok  Max Poz
0    1                         GREATEST HITS    QUEEN  1981        1
1    2                  GOLD - GREATEST HITS     ABBA  1992        1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967        1
3    4                                    21    ADELE  2011        1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995        1

Odp4. Tabela powyżej-Zmieniłam nagłówki kolumn, tak że każdy z nich rozpoczyna się od wielkiej litery, a pozostałe są wprowadzone małymi literami.

Odp5.Wyrzucam z tabeli kolumnę ‘Max Poz’.

In [11]:
df.drop(columns=['Max Poz'], inplace=True)
df.head()

   Pos                                 Tytuł  Artysta   Rok
0    1                         GREATEST HITS    QUEEN  1981
1    2                  GOLD - GREATEST HITS     ABBA  1992
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967
3    4                                    21    ADELE  2011
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995

Odp6. Sprawdzam wktórym roku wyszło najwięcej albumów znajdujących się na liście

In [13]:
najczestszy_rok = df['Rok'].value_counts().idxmax()
liczba_albumow = df['Rok'].value_counts().max()
print(f"Najwięcej albumów wyszło w roku {najczestszy_rok}, liczba albumów: {liczba_albumow}")

Najwięcej albumów wyszło w roku 2000, liczba albumów: 4

Odp7. Sprawdzam ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście

In [15]:
albumy_1960_1990 = df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)]
liczba_albumow = albumy_1960_1990.shape[0]
print("Liczba albumów wydanych między 1960 a 1990 rokiem włącznie:", liczba_albumow)

Liczba albumów wydanych między 1960 a 1990 rokiem włącznie: 22

Odp8.Sprawdzam w którym roku wydany został najmłodszy album na liście

In [17]:
najmlodszy_rok = df['Rok'].max()
print("Najmłodszy album na liście został wydany w roku:", najmlodszy_rok)

Najmłodszy album na liście został wydany w roku: 2015

Odp9. Przygotowuję listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [19]:
najwczesniejsze_albumy = df.sort_values('Rok').drop_duplicates(subset='Artysta', keep='first')
najwczesniejsze_albumy.head()

    Pos                                 Tytuł                  Artysta   Rok
51   52                    THE SOUND OF MUSIC  ORIGINAL CAST RECORDING  1965
2     3  SGT PEPPER'S LONELY HEARTS CLUB BAND                  BEATLES  1967
20   21            BRIDGE OVER TROUBLED WATER        SIMON & GARFUNKEL  1970
6     7             THE DARK SIDE OF THE MOON               PINK FLOYD  1973
41   42                         TUBULAR BELLS            MIKE OLDFIELD  1973

Odp10. Zapisuję istę do pliku csv.

In [21]:
najwczesniejsze_albumy.to_csv('najwczesniejsze_albumy.csv', index=False)
print("Plik 'najwczesniejsze_albumy.csv' został zapisany pomyślnie.")

Plik 'najwczesniejsze_albumy.csv' został zapisany pomyślnie.