In [22]:
import numpy as np
data = pd.read_html('https://pl.wikipedia.org/wiki/Miasta_w_Polsce', header=0)
type(data)

list

In [24]:
data[0]

,Lp.,Miasto,Województwo,Liczba mieszkańców,Gęstość zaludnienia [osoby/km²]
0,1.0,Warszawa,mazowieckie,1 861 975,3 600
1,2.0,Kraków,małopolskie,803 282,2 458
2,3.0,Wrocław,dolnośląskie,674 079,2 302
3,4.0,Łódź,łódzkie,658 444,2 245
4,5.0,Poznań,wielkopolskie,541 316,2 067
5,6.0,Gdańsk,pomorskie,486 345,712
6,7.0,Szczecin,zachodniopomorskie,391 566,1 303
7,8.0,Lublin,lubelskie,331 243,2 246
8,9.0,Bydgoszcz,kujawsko-pomorskie,330 038,1 876
9,10.0,Białystok,podlaskie,292 600,2 865